In [6]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_excel(r'/content/drive/MyDrive/DL Project/Results/ModelResults.xlsx')

In [10]:
df['BERT YN A only'] = df['BERT YN A only'].replace(np.nan, 'N/A')
df['BERT YN Q+A'] = df['BERT YN Q+A'].replace(np.nan, 'N/A')
df['BERT YN Q only'] = df['BERT YN Q only'].replace(np.nan, 'N/A')

df['BERT YN A only'] = df['BERT YN A only'].astype(str)
df['BERT YN Q+A'] = df['BERT YN Q+A'].astype(str)
df['BERT YN Q only'] = df['BERT YN Q only'].astype(str)

In [11]:
df['BERT YN A only'].value_counts()

Yes                                  3476
No                                   2832
Yes, subject to some conditions       466
In the middle, neither yes nor no      66
Other                                   8
N/A                                     6
Name: BERT YN A only, dtype: int64

In [12]:
df['BERT YN Q+A'].value_counts()

Yes                                  3489
No                                   2630
Yes, subject to some conditions       508
Other                                 127
In the middle, neither yes nor no      91
N/A                                     9
Name: BERT YN Q+A, dtype: int64

In [19]:
df

      Unnamed: 0  ...                    goldstandard2
0              0  ...                              Yes
1              1  ...                            Other
2              2  ...  Yes, subject to some conditions
3              3  ...                               No
4              4  ...                               No
...          ...  ...                              ...
6849        6849  ...                              Yes
6850        6850  ...                              Yes
6851        6851  ...                              Yes
6852        6852  ...                               No
6853        6853  ...                              Yes

[6854 rows x 8 columns]

In [15]:
labels = ['Yes','No','Yes, subject to some conditions',
          'Other','In the middle, neither yes nor no', 'N/A']
for i in range(0,len(labels)):
  for j in range(0, len(labels)):
      print(df[(df['BERT YN A only'] == labels[i]) & (df['BERT YN A only'] == labels[j])])

      Unnamed: 0     id  ... BERT YN Q+A goldstandard2
0              0  30411  ...         Yes           Yes
5              5  19412  ...         Yes           Yes
8              8  18464  ...         Yes           NaN
9              9  20769  ...         Yes           Yes
12            12  12042  ...         Yes           Yes
...          ...    ...  ...         ...           ...
6845        6845   7177  ...         Yes            No
6849        6849  24637  ...         Yes           Yes
6850        6850  28626  ...         Yes           Yes
6852        6852  24553  ...         Yes            No
6853        6853   8280  ...         Yes           Yes

[3476 rows x 8 columns]
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
      Unnamed: 0     id  ... BERT YN Q+A goldstandard2
1              1  33629  ...       Other         Other
3              3  29307  ...          No            No
4              4  25732  ...          No            No
6              6  13226  ...          No            No
7              7    676  ...          No            No
...          ...    ...  ...         ...           ...
6844        6844  20037  ...         Yes            No
6846        6846  20425  ...          No           Yes
6847        6847  16624  ...          No            No
6848        6848   5296  ...          No            No
6851        6851  11592  ...         Yes           Yes

[2832 rows x 8 columns]
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
      Unnamed: 0  ...                    goldstandard2
2              2  ...  Yes, subject to some conditions
11            11  ...  Yes, subject to some conditions
67            67  ...  Yes, subject to some conditions
74            74  ...  Yes, subject to some conditions
86            86  ...  Yes, subject to some conditions
...          ...  ...                              ...
6771        6771  ...  Yes, subject to some conditions
6774        6774  ...  Yes, subject to some conditions
6792        6792  ...  Yes, subject to some conditions
6795        6795  ...  Yes, subject to some conditions
6816        6816  ...  Yes, subject to some conditions

[466 rows x 8 columns]
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
      Unnamed: 0     id  ... BERT YN Q+A goldstandard2
491          491  26324  ...         Yes           Yes
1977        1977  14285  ...         Yes           Yes
3036        3036  12132  ...         Yes            No
3911        3911  20180  ...         Yes           Yes
3958        3958  24889  ...         Yes           Yes
4142        4142    596  ...          No           Yes
5501        5501    714  ...       Other         Other
6166        6166   1276  ...         Yes           Yes

[8 rows x 8 columns]
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
      Unnamed: 0  ...                      goldstandard2
33            33  ...  In the middle, neither yes nor no
128          128  ...                                 No
189          189  ...                                Yes
190          190  ...  In the middle, neither yes nor no
443          443  ...  In the middle, neither yes nor no
...          ...  ...                                ...
5801        5801  ...                                 No
5950        5950  ...  In the middle, neither yes nor no
6311        6311  ...  In the middle, neither yes nor no
6460        6460  ...                                NaN
6561        6561  ...  In the middle, neither yes nor no

[66 rows x 8 columns]
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []
      Unnamed: 0  ...                      goldstandard2
216          216  ...                                Yes
414          414  ...                                Yes
3440        3440  ...    Yes, subject to some conditions
4536        4536  ...    Yes, subject to some conditions
4765        4765  ...  In the middle, neither yes nor no
6403        6403  ...                                NaN

[6 rows x 8 columns]

In [17]:
df[(df['BERT YN A only'] == 'Yes') & (df['BERT YN A only'] == '')]

Empty DataFrame
Columns: [Unnamed: 0, id, question-X, answer-Y, BERT YN Q only, BERT YN A only, BERT YN Q+A, goldstandard2]
Index: []